/* IMPORTS */

@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";

/* CUSTOM VARIABLES */


/* CONTENT STYLING */


/* CUSTOM ELEMENTS */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 80%;

  &:hover {
    transform: scale(1.1);
    opacity: 100%;
  }

  &#github {
    content: url("assets/img/github.png");
    height: 2rem;
  }

  &#twitter {
    content: url("assets/img/twitter.png");
    height: 2rem;
  }

  &#bulma {
    height: 2.5rem;
    content: url("https://bulma.io/images/made-with-bulma--semiblack.png");

    @media (prefers-color-scheme: dark) {
      content: url("https://bulma.io/images/made-with-bulma--semiwhite.png");
    };
  }
}

.badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;
  
  &#python {
    content: url("//img.shields.io/badge/python-white?style=for-the-badge&logo=python&logoColor=3776AB");
  }
}